# Secrets & Keys
config.*

# Database Files
Users.sqlite
*.sqlite
*.sql
*/*.sqlite
*/*.sql
*.sql-journal
*.sqbpro

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Developing files
*/README.md
README.md
resources/*
docs.md
errors.md

# Virtual Env
env/*

