# Secrets & Keys
config.py
config.*

# Database Files
*.sqlite
*.sql
*/*.sqlite
*/*.sql

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Developing files
*/README.md
README.md
docs.md
errors.md

# Virtual Env
env/*

