<!DOCTYPE html>
{% extends "bootstrap/base.html" %}
<html lang="en">

{% block title %}
Dashboard
{% endblock %}


{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='academic-main.css')}}">
{% endblock %}

<body>
<div class="container-fluid">
    {% block content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <div class="container-fluid">
        <div class="row">
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container-fluid">
                    <div class="nav navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#navbar"
                                aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">Online Automated Tutor</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/dashboard">Dashboard</a></li>
                            <li><a href="#">Settings</a></li>
                            <li><a href="#">Profile</a></li>
                            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        <!-- Section B~E -->
        <div class="container-fluid">

            <!-- Noticeboard and Posts update -->
            <div class="row">
                <div class="container-fluid" id="content-main">
                    <div class="col-sm-12 main">
                        <h1 class="page-header">Welcome, {{ name }}</h1>

                        <div class="row placeholders">

                            <div class="col col-xs-6 col-sm-6 col-md-6 placeholder">
                                <ul class="list-group">
                                    <li class="list-group-item d-flex justify-content-between align-items-center text-left"
                                        data-toggle="modal" data-target="#unansweredQuestionsModal" id="unanswered-questions-text">
                                        New incoming questions
                                        <span class="badge badge-primary badge-pill"
                                              id="unanswered-questions-count"> </span>
                                    </li>
                                </ul>
                            </div>

                            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
                                 id="unansweredQuestionsModal" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Unanswered Incoming Questions</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <table class="table" id="unanswered-questions">
                                                <thead>
                                                </thead>
                                                <tbody>
<!--                                                <tr>-->
<!--                                                    <td>#1</td>-->
<!--                                                    <td>TEST: enean lectus. Pellentesque eget nunc.-->
<!--                                                        Donec quis orci...-->
<!--                                                    </td>-->
<!--                                                </tr>-->
<!--                                                <tr>-->
<!--                                                    <td>#2</td>-->
<!--                                                    <td>TEST:Morbi sem mauris, laoreet ut, rhoncus-->
<!--                                                        aliquet, pulvinar sed, n...-->
<!--                                                    </td>-->
<!--                                                </tr>-->
                                                </tbody>
                                            </table>

                                        </div>
                                        <!--                                        <div class="modal-footer">-->
                                        <!--                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">-->
                                        <!--                                                Unsatisfied-->
                                        <!--                                            </button>-->
                                        <!--                                            <button type="button" class="btn btn-primary">Satisfied</button>-->
                                        <!--                                        </div>-->
                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

        <!-- Actual Q&A Section -->
        <div class="row-fluid">
            <div class="col-sm-12"> <!--QnA box-->
                <h2>Automated Academic Tutor</h2>
                <div class="box"></div>
                <div class="row display-flex">
                    <div class="col-xs-12 col-sm-5 text-sm-center align-items-sm-center">
                        <form>
                            <div class="form-group expanded shadow-textarea">
                                <div class="col-sm-5">
                                    <label for="tutor-question">Question</label>
                                </div>
                                <textarea readonly class="form-control" id="tutor-question"
                                          rows="8" spellcheck="false"></textarea>

                            </div>
                        </form>
                    </div>
                    <div class="col-xs-12 col-sm-2 text-center">
                        <div class="row"><p></p></div> <!--Lines holder-->
                        <div class="wrapper-div items-center">
                            <button type="submit" class="btn btn-primary"
                                    id="tutor-answer-submit" onclick="submitAnswer()">Submit
                            </button>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-5">
                        <div class="form-group green-border shadow-textarea">
                            <div class="col-sm-5">
                                <label for="tutor-answer">Answer</label>
                            </div>
                            <textarea class="form-control" id="tutor-answer"
                                      rows="8" spellcheck="false" onkeypress="enterListener(this)"
                                      placeholder="Write the answer here..."></textarea>
                        </div>
                    </div>

                </div>

                <script src="{{ url_for('static', filename='js/tutor_main.js')}}"></script>
                <!--                <script>-->
                <!--                    // window.onLoad= function loadPage() {-->
                <!--                    //     console.log("Loading page...");-->
                <!--                    //     get_course_unanswered_count(course)-->
                <!--                    // }-->
                <!--                    //-->

                <!--                    //-->
                <!--                    // $("#tutor-answer").keypress(function (e) {-->
                <!--                    //     if (e.keyCode == 13) {-->
                <!--                    //         console.log('Got keystroke ' + e);-->
                <!--                    //         if (e.shiftKey) {-->
                <!--                    //             e.stopPropagation();-->
                <!--                    //         } else {-->
                <!--                    //             e.preventDefault();-->
                <!--                    //             submitAnswer();-->
                <!--                    //         }-->
                <!--                    //     }-->
                <!--                    // });-->

                <!--                    function submitAnswer(){-->
                <!--                        var tutorAnwswer = $("#tutor-answer").val();-->
                <!--                        console.log("Submitting answer: ", tutorAnwswer);-->
                <!--                        //-->
                <!--                        // var mCourse = '{{course}}';-->
                <!--                        // var settings = {-->
                <!--                        //     "url": "/academic/api/v1/answer",-->
                <!--                        //     "method": "POST",-->
                <!--                        //     "timeout": 0,-->
                <!--                        //     "data": {-->
                <!--                        //         "course": mCourse,-->
                <!--                        //         "question": userQuestion-->
                <!--                        //     },-->
                <!--                        // };-->
                <!--                        //-->
                <!--                        // console.log("settings: ", settings);-->
                <!--                        // $.ajax(settings).done(function (response) {-->
                <!--                        //     console.log("success!", response);-->
                <!--                        //     // $("#student-answer").val() =response;-->
                <!--                        //     document.getElementById("student-answer").textContent = response;-->
                <!--                        // });-->

                <!--                        return;-->
                <!--                    }-->

                <!--                </script>-->

            </div>
        </div>
    </div>

    {% endblock %}
</div>
</body>
</html>