/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 10px;
}


/*
 * Global add-ons
 */
.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}


/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar > .narbar-inverse > .navbar-fixed-top {
    border: 2px;
    margin-bottom: 0px;
}

/*
 * Sidebar
 */
/* Hide for mobile, show later */
.sidebar {
    display: none;
}

@media (min-width: 760px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        font-size: 12px;
        padding: 3px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }

    .sidebar > .table {
        min-height: 30px;
        max-height: 30px;
    }

}

.ellipsis-header {
    max-width: 30px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.ellipsis-content {
    max-width: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

[data-pats="posts-bar"] tr div {
    /*max-width:238px;*/
    width: 100%;
    max-height: 40px;
}

#posts-sidebar .answered-post-title {
    font-size: 11pt;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

#posts-sidebar .answered-post-body {
    font-size: 9pt;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    overflow-y: hidden;

}
/*[data-pats="posts-bar"] td [data-pats="post-title"]{*/
/*    font-size: 11pt;*/
/*    width:100%;*/
/*    white-space:nowrap;*/
/*    text-overflow:ellipsis;*/
/*    overflow-x: hidden;*/
/*}*/

/*[data-pats="posts-bar"] td [data-pats="post-body"] {*/
/*    font-size: 9pt;*/
/*}*/


/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar > li > b {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-sidebar > .active > b,
.nav-sidebar > .active > b:hover,
.nav-sidebar > .active > b:focus {
    color: #2b542c;
    background-color: #428bca;
}

.nav-sidebar > li > a {
    padding-right: 30px;
    padding-left: 30px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}


/*
 * Main content
 */

.main {
    float: left;
    padding: 15px;
}

body {
    padding-top: 20px;
    margin: 6px;
}

@media (min-width: 760px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.main .page-header {
    padding-top: 6px;
    margin-top: 10px;
}

/*
 * Notice Board
 */
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem
}

.card > hr {
    margin-right: 0;
    margin-left: 0
}

.card > .list-group:first-child .list-group-item:first-child {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem
}

.card > .list-group:last-child .list-group-item:last-child {
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem
}


.card-header {
    padding: .75rem 1.25rem;
    margin-top: 0;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 1px solid rgba(0, 0, 0, .125)
}

/*
 * Placeholder dashboard
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}

.placeholders h4 {
    margin-bottom: 0;
}

.placeholder {
    margin-bottom: 20px;
}

.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

.row-qna {
    height: 120px;
}

.row.display-flex {
    display: flex;
    flex-wrap: wrap;
}

.row.display-flex > [class*='col-'] {
    display: flex;
    flex-direction: row;
}


.wrapper-div {
    justify-content: center;
    vertical-align: middle;
    display: table-cell;
    height: 320px;
    margin: auto;
    align-items: center;
    /*align-content: center;*/
}

.wrapper-div .btn {
    display: block;
    margin:0 auto;
}

.btn-c-submit {
    background-color: #1B73E7; /* Blue */
    border: grey;
    position: relative;
    margin-top: 20px;
    color: white;
    padding: 32px 32px;
    text-align: center;
    /*text-decoration: none;*/
    display: inline-block;
    font-size: 14px;
    /*border-radius: 4px;*/
    vertical-align: middle;
}

/*
 * Chatbot Style
 */
#chatbox {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 60px;
}

#userInput {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 60px;
}

#textInput {
    width: 90%;
    border: none;
    border-bottom: 3px solid black;
    font-family: monospace;
    font-size: 17px;
}

.userText {
    color: white;
    font-family: monospace;
    font-size: 17px;
    text-align: right;
    line-height: 30px;
}

.userText span {
    background-color: #808080;
    padding: 10px;
    border-radius: 2px;
}

.botText {
    color: white;
    font-family: monospace;
    font-size: 17px;
    text-align: left;
    line-height: 30px;
}

.botText span {
    background-color: #4169e1;
    padding: 10px;
    border-radius: 2px;
}

#tidbit {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 300px;
}

.boxed {
    margin-left: auto;
    margin-right: auto;
    width: 78%;
    margin-top: 60px;
    border: 1px solid green;
}

.line-divider {
    border: 2px solid black;
}


/*
 * Posts Group
 */
.questions-group {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    position: relative;
    font-size: 13px;
    min-height: 1px;
    line-height: 1.25;
    color: #333;
    display: block;
    box-sizing: border-box;
    float: left;
    width: 16.66666667%;
    position: fixed;
    top: 61px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 15px;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}

.feed-item .clearfix {

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #333;
    list-style: none;
    line-height: 20px;

    /*background: white;*/
    /*border-bottom: 1px solid #d2d8df;*/
    /*cursor: default;*/
    /*padding: 5px 3px 5px 0px;*/
    /*position: relative;*/
    /*min-height: 35px;*/
    /*user-select: none;*/

    box-sizing: border-box;
    margin-top: 0;
    padding-left: 0;
    list-style: none;
    margin-right: -21px;
    margin-bottom: 20px;
    margin-left: -20px;
}

.feed-item > .content {
    font-size: 13px;
    color: #333;
    list-style: none;
    line-height: 20px;
    cursor: default;
    user-select: none;
    display: block;
    margin-left: 26px;
    margin-right: 61px;
}

.feed-item > .snippet {
    list-style: none;
    cursor: default;
    user-select: none;
    display: block;
    color: #80858A;
    font-family: 'Lucida Grande', Lucida, Arial, sans-serif;
    font-size: 11px;
    max-height: 39px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.25;
}

/*Unread posts*/
#unread-posts {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border-radius: 3px;
}

#unread-posts td, #unread-posts th {
    padding: 8px;
    border-radius: 4px;
    text-align: center;
    color: #595959;
}

#unread-posts td:first-child {
    width: 90px;
}


#unread-posts tr:nth-child(even) {
    background-color: #e6ffff;
}

#unread-posts tr:nth-child(odd) {
    background-color: #cccccc;
}

#unread-posts td:hover {
    background-color: #c1001a;
    color: white;
}

#unread-posts th {
    padding-top: 5px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #00ffff;
    border-radius: 7px;
}

#unread-posts th:hover {
    background-color: #ff0000;
    color: white;
}

/* Unanswered Posts */
#unanswered-posts {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border-radius: 3px;
}


#unanswered-posts td, #unanswered-posts th {
    padding: 8px;
    border-radius: 4px;
    text-align: center;
    color: #595959;
}

#unanswered-posts td:first-child {
    width: 90px;
}


#unanswered-posts tr:nth-child(even) {
    background-color: #e6ffff;
}

#unanswered-posts tr:nth-child(odd) {
    background-color: #cccccc;
}

#unanswered-posts td:hover {
    background-color: #c1001a;
    color: white;
}

#unanswered-posts th {
    padding-top: 5px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #00ffff;
    border-radius: 7px;
}

#unanswered-posts th:hover {
    background-color: #ff0000;
    color: white;
}


.unread-status-block .questions-header,
.unread-status-block .answer-header {
    color: black;
    text-align: left;
}

.unread-status-block .question-content,
.unread-status-block .answer-content {
    border: 1px #4e555b;
    background-color: rgba(158, 158, 158, 0.67);
    color: #fcfffa;
    text-align: left;
    padding-top: 2px;
    border-radius: 2px;
}

.unread-status-block .btn-satisfied {
    color: royalblue;
}

.unread-status-block .btn-unsatisfied {
    color: darkred;
}

/*answered-post section*/
#answered-post-section {
    display: none;
}

#answered-post-section textarea {
    background: #eeeeee;
}

textarea {
    width: 100%;
    margin: 0;
    padding: 0;
    border-width: 0;
}

/*unreadPostModal*/
#unreadPostModal .header {
    text-align: left;
}

#bot-answer-feedback {
    display: none;
}